<h2>Ingresá tus datos</h2>
<form action="/users/register" method="post">
    Nombre:<input type="text" name="firstname" id="firstname">
    Apellido:<input type="text" name="lastname" id="lastname">
    Username:<input type="text" name="username" id="username">
    Contraseña:<input type="password" name="password" id="password">
    <input type="submit" value="REGISTRAR">
</form>
